[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyusmacro"]
	path = tidyusmacro
	url = https://github.com/mtkonczal/tidyusmacro
